body {
  background: linear-gradient(to right, #fff0d9, white);
  animation: animate-background 10s infinite ease-in-out;
  background-size: 400% 400%;
}
@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.card {
  background-color: transparent !important;
}
.right {
  padding-top: 70px;
  height: 100vh;

  /* background-color: #0e5e6f; */
}
.left {
  padding: 0 !important;
  padding-top: 111px !important;
  height: 100vh;
  background-color: #0e5e6f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: -18px;
}
.header_section {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: transparent !important;
  height: auto;
  background-size: 100%;
}
.name {
  color: white;
  font-size: 30px;
}
#navbarNav {
  justify-content: flex-end !important;
}
#navbarNav a {
  color: #0e5e6f;
}
#navbarNav a:hover {
  color: black;
}
.profile {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: #8cdadf solid 3px;
}
.pro {
  padding: 0 10px;
  cursor: pointer;
  background-color: transparent;
  margin: 0 10px;
}
.hr {
  margin-top: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}
.buttons button {
  padding: 10px 0;
  width: 40%;
  font-size: 15px;
  font-weight: bold;
  background-color: #4d9ca7;
}

.buttons button:hover {
  background-color: #8cdadf;
}
.orders {
  width: 100%;
  display: none;
}
.order-container {
  display: flex;
  margin: 20px;
  background-color: #9cc0c1;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content + 5px;
}
.order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  margin: 10px auto;
  background-color: aliceblue;
  font-size: 20px;
}
.order img {
  height: 90px;
  margin: 8px;
}
.order h4,
.order h5 {
  font-size: 20px;
  padding: 0;
}
.status1:before {
  vertical-align: middle;
  margin-right: 10px;
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 50%;
  /* left: 10px; */
}
.pages {
  margin: 0 20px;
}
.number {
  color: black;
  padding: 5px 10px;
  background-color: #9cc0c1;
  margin: 0 5px;
}
.profile-sec {
  width: 100%;
  display: flex;
  /* display: none; */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90%;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .right {
    padding: 0 !important;
    padding-top: 10px !important;
  }
  .left {
    padding: 0 !important;
    padding-top: 10px !important;
  }
  .hi {
    min-width: -webkit-fill-available;
  }
  .header_section {
    position: static;
  }
  .logo {
    width: 25%;
  }
  .name {
    font-size: 22px;
  }
  .buttons button {
    width: 90%;
  }
  .orders {
    width: 100%;
  }
  .order h4,
  .order h5 {
    font-size: 15px;
    padding: 0;
  }
  .status1 {
    font-size: 15px;
  }
  .status1::before {
    margin-right: 1px;
  }
  .order img {
    height: 75px;
    margin: 8px;
  }
}
@media screen and (max-width: 480px) {
  .right {
    padding: 0 !important;
    padding-top: 10px !important;
  }
  .left {
    padding: 0 !important;
    padding-top: 10px !important;
  }
  .header_section {
    position: static;
  }
  .left {
    background-color: rgb(255, 255, 255);
    height: fit-content;
  }
  .left .name {
    color: #0e5e6f;
  }
  .order h4,
  .order h5 {
    font-size: 12px;
    padding: 0;
  }
  .status1 {
    font-size: 10px;
  }
  .status1::before {
    margin-right: 1px;
  }
  .orders {
    width: 100%;
  }
  .order img {
    height: 70px;
    margin: 8px;
  }

  .row {
    margin: 0 !important;
  }
}
