body {
  background: linear-gradient(to right, #fff0d9, white);
  animation: animate-background 10s infinite ease-in-out;
  background-size: 400% 400%;
}
@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.orders {
  width: 60%;
  margin: auto;
}
.header {
  font-size: 35px;
  font-weight: bold;
  margin: 10px 0;
}
.orders {
  margin-top: 100px;
}
.confirm {
  display: flex;
  justify-content: flex-end;
}
.btn {
  font-size: 25px;
  margin: 20px 0;
  width: 30%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: #0e5e6f;
  color: white;
  cursor: pointer;
}
.order-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: #9cc0c1;
  height: calc(fit-content+30px);
}
.order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  margin: 10px auto;
  background-color: aliceblue;
  font-size: 20px;
}
.order img {
  height: 100px;
  margin: 8px;
}
.order h4,
.order h5 {
  font-size: 30px;
  padding: 0;
}
.status1 {
  vertical-align: middle;
  margin-right: 10px;
  display: inline-block;
  padding: 5px;
  color: aliceblue;
  background-color: rgb(228, 4, 4);
  border-radius: 5px;
  /* left: 10px; */
}
.pages {
  margin: 0 20px;
}
.number {
  color: black;
  padding: 5px 10px;
  background-color: #9cc0c1;
  margin: 0 5px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .orders {
    width: 90%;
    margin: auto;
  }
  .order h4,
  .order h5 {
    font-size: 25px;
    padding: 0;
  }
  .btn {
    width: auto;
  }
}
@media screen and (max-width: 480px)  {
  .orders {
    width: 95%;
    margin: auto;
  }
  .order h4,
  .order h5 {
    font-size: 16px;
    padding: 0;
  }
  .btn {
    width: auto;
  }
  .order img{
    height: 50px;
  }
  .status1 {
    font-size: 16px;
  }
}
